# Go binary
backend/paigham-nats

# Frontend build output copied here before go build
backend/static/*
!backend/static/.gitkeep

# Node
frontend/node_modules/
frontend/.svelte-kit/
frontend/build/

# Helm
*.tgz
